/****************************
    Projects
****************************/

.projects {
    // margin-bottom: 50px;

    &__header {
        background-image: url('https://placehold.it/2400x500');
        background-color: rgba(255, 255, 255, 0.8);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.npower-photo-challenge {
            background-image: url('../images/npower-photo-challenge-hero.jpg');
        }

        h1 {
            text-align: center;
            background-color: rgba(255, 255, 255, 1);
            padding: 10px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
            width: calc(100% - 10%);

            @media #{$screen-min-sm} {
                width: auto;
            }
        }
    }

    &__image {
        background-color: #b0dcee;
        margin-top: 40px;

        @media #{$screen-min-sm} {
            position: relative;
            padding-bottom: 30px;
        }

        .container__wrapper {
            overflow: visible;
        }
    }

    &__summary {
        padding: 22px 0;

        @media #{$screen-min-lg} {
            width: calc(100% - 50%);
            margin: 0 auto;
        }
    }
}

.project {
    &__toolbar {
        background-color: #e8e8e8;
        padding: 5px 10px;
        overflow: hidden;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-options {
            overflow: hidden;
        }

        &-circle {
            border-radius: 50%;
            background-color: red;
            // float: left;
            // display: block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            line-height: 32px;
            display: inline-block;
            vertical-align: middle;

            &:last-of-type {
                margin-right: 0;
            }

            &--red {
                background-color: #d95b6a;
            }

            &--yellow {
                background-color: #e0d85e;
            }

            &--green {
                background-color: #5bd98a;
            }
        }

        &-address-bar {
            align-content: flex-end;
            // float: right;
            background-color: #ffffff;
            padding: 5px;
            font-size: 0.7em;
            width: 70%;
        }
    }

    &__desktop {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        position: relative;
        top: -20px;
        display: none;

        @media #{$screen-min-sm} {
            display: block;
            width: 90%;
        }

        @media #{$screen-min-md} {
            width: 70%;
        }

        &-screen {
            border: 3px solid #e8e8e8;
            border-top: none;
        }
    }

    &__mobile {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 230px;
        margin: 0 auto;
        position: relative;
        top: -20px;

        @media #{$screen-min-sm} {
            position: absolute;
            right: 0;
            z-index: 2;
            top: 50px;
            width: 200px;
        }

        @media #{$screen-min-md} {
            right: 20px;
            width: 240px;
        }

        @media #{$screen-min-lg} {
            width: 340px;
        }

        .project__toolbar-address-bar {
            width: 100%;
        }

        &-screen {
            border: 2px solid #e8e8e8;
            border-top: none;
            // height: 350px;
            overflow: hidden;

            @media #{$screen-min-sm} {
                // height: 300px;
            }

            img {
                height: 100%;
            }
        }
    }



    &__tags {
        list-style: none;
        padding-left: 0;
        overflow: hidden;
        margin-bottom: 0;

        @media #{$screen-min-lg} {
            width: calc(100% - 50%);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__tag {
        background-color: #f4f4f4;
        padding: 3px 7px;
        float: left;
        margin: 0 5px;
        color: #333333;
        font-size: 0.9em;

        &:first-child {
            margin-left: 0;
        }
    }
}
